<div class="container-sm">
    <div class="table-responsive">
        <div class="table-wrapper" style="margin: auto;">
            <div class="table-title">
                <div class="row">
                    <div class="col-mb-3">
                        <h4>Nova Venda</h4>
                    </div>
                </div>
            </div>

            <form action="/venda/criar/detalhes" method="POST">
                <div class="form-control">
                    <div class="row">
                        <div class="col-md-3 mb-3">
                            <label for="data" class="form-label">Data</label>
                            <input type="date" class="form-control" name="data" value="{{data_atual}}" required>
                        </div>
                        <div class="col-md-9 mb-3">
                            <label for="cliente" class="form-label">Cliente</label>
                            <select class="form-select" aria-label="cliente" name="cliente" required>
                                <option selected>Selecione o cliente</option>
                                {{#each clientes}}
                                <option value="{{this.id}}">{{this.nome}} | CPF / CNPJ: {{this.cpfCnpj}}</option>
                                {{/each}}
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <center>
                                <button type="submit" class="btn btn-success"><i class="bi bi-check-circle-fill"></i>
                                    Iniciar Venda</button>
                                <a href="/venda" class="btn btn-danger"><i class="bi bi-x-circle-fill"></i> Cancelar</a>
                            </center>
                        </div>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>


<script>



</script>