<<<<<<< HEAD
<title>Novo Usuario</title>
=======
>>>>>>> 456656d6306d846126a73eb3098229fb2ae4d763
<div class="container-xl">
    <div class="table-responsive">
        <div class="table-wrapper" style="max-width: 600px; margin: auto;">
            <div class="table-title">
                <div class="row">
                    <div class="col-mb-3">
<<<<<<< HEAD
                        <h4>Novo Usuario</h4>
=======
                        <h4>Novo Usuário</h4>
>>>>>>> 456656d6306d846126a73eb3098229fb2ae4d763
                    </div>
                </div>
            </div>

            <form action="/usuario/criarPost" method="POST">
            <div class="form-control">
                <div class="mb-3">
<<<<<<< HEAD
                    <label for="nome" class="form-label">Nome*</label>
                    <input type="text" class="form-control" name="nome" placeholder="" required>
                </div>
                <div class="mb-3">
                    <label for="senha" class="form-label">Senha*</label>
                    <input type="password" class="form-control" name="senha" placeholder="" required>
=======
                    <label for="nome" class="form-label">Nome Usuário</label>
                    <input type="text" class="form-control" name="nome" placeholder="Nome do usuário" required>
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="form-control" name="email" placeholder="Email" required>
                </div>
                <div class="mb-3">
                    <label for="senha" class="form-label">Senha</label>
                    <input type="password" class="form-control" name="senha" placeholder="Senha" required>
>>>>>>> 456656d6306d846126a73eb3098229fb2ae4d763
                </div>
                <center>
                <button type="submit" class="btn btn-success"><i class="bi bi-check-circle-fill"></i> Salvar</button>
                <a href="/usuario" class="btn btn-danger"><i class="bi bi-x-circle-fill"></i> Cancelar</a>
                </center>
            </div>
            </form>
        </div>
    </div>
</div>